version: "3.2"

services:

  nucleus:
    container_name: nucleus
    image: elementaryrobotics/nucleus
    volumes:
      - type: volume
        source: shared
        target: /shared
        volume:
          nocopy: true
    command: ./launch.sh

  voice:
    container_name: voice
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - type: volume
        source: shared
        target: /shared
        volume:
          nocopy: true
      - "~/google_voice/credential.json:/code/google/credential.json"
    depends_on:
      - "nucleus"
    environment:
      - "DEVICE_MODEL_ID=SOME_DEVICE_MODEL_ID"
    privileged: true

volumes:
  shared:
    driver_opts:
      type: tmpfs
      device: tmpfs
